.back{
    background-image: linear-gradient(to right, #283618 0%, #91a54f 100%);

}
.aacta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }

   .aacta:hover{
    cursor: pointer;
   }
   
   .aacta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #283618;
    width: 100%;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .aacta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
   }
   
   .aacta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .aacta:hover:before {
    width: 100%;
    background: #91a54f;
   }
   
   .aacta:hover svg {
    transform: translateX(0);
   }
   
   .aacta:active {
    transform: scale(0.95);
   }

   .acta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .acta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #5e2b2b;
    width: 100%;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .acta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
   }
   
   .acta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }

   .acta:hover{
    cursor: pointer;
   }
   
   .acta:hover:before {
    width: 100%;
    background: #ff1a1a;
   }
   
   .acta:hover svg {
    transform: translateX(0);
   }
   
   .acta:active {
    transform: scale(0.95);
   }