.alignItems-center1{
  align-items: center !important;
}

.logo{
  background-color: black;
  background: rgb(96, 108, 56)
  
}

.imagem{
   background-image: url(imagem/man-taking-care-of-his-farm-close-up.jpg);
   background-repeat: no-repeat;
   width: 3000vh;
   min-height: 100vh;
   background-size: cover;
   background-position: center;

   
}

#botao_login{
  background-color: #283618;
  
}

