.box1 {
    background-color: #fefae0;
    height: 120px;
}

.box2 {
    background-color: #fefae0;
    height: 40px;
}

.alignItems-center{
    align-items: center !important;
}

.redes {
    font-size: 60px !important;
    color: #606c38;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway"),
    url("./fontes/Raleway-Regular.ttf") format("truetype");
}

.textos {
    color: #606c38;
    font-family: 'Raleway-Regular';
}

.alignItems-center1{
    align-items: center;
}