.box1 {
    background-color: #fefae0;
    padding: 10px;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7)
}

.box2 {
    background-color: #fefae0;
    height: 40px;
}

.redes {
    font-size: 60px !important;
    color: #606c38;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway"),
    url("./fontes/Raleway-Regular.ttf") format("truetype");
}

.textos {
    color: #606c38;
    font-family: 'Raleway-Regular';
}

.icons {
    width: 225px;
    margin: 0 auto;
}