.fin {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .fin:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #283618;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .fin span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
   }
   
   .fin svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .fin:hover{
    cursor: pointer;
   }
   
   .fin:hover:before {
    width: 100%;
    background: #91a54f;
   }
   
   .fin:hover svg {
    transform: translateX(0);
   }
   
   .fin:active {
    transform: scale(0.95);
   }
.imagem{
    background-color: #fefae0;
    background-repeat: no-repeat;
    width: 3000vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
 }

