.lia {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .lia:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #283618;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .lia span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
   }
   
   .lia svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .lia:hover:before {
    width: 100%;
    background: #91a54f;
   }
   
   .lia:hover svg {
    transform: translateX(0);
   }
   
   .lia:active {
    transform: scale(0.95);
   }

   .raa {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .raa:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #5e2b2b;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .raa span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
   }
   
   .raa svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .raa:hover:before {
    width: 100%;
    background: #ff1a1a;
   }
   
   .raa:hover svg {
    transform: translateX(0);
   }
   
   .raa:active {
    transform: scale(0.95);
   }