.titulo {
    color:  #606c38 !important;
}

.titulo-l {
    font-weight: bolder !important;
    color:  #606c38 !important;
}

.g_container{
    padding: 20px 0;
}

.alignItems-center{
    align-items: center !important;
}

.width-photo{
    width: 185px;
}

.m_centralize{
    text-align: center;
}

.left{
    padding: 5px 0;
}

.right{
    padding: 10px 0;
}

@media(min-width: 960px){
    .left{
        padding: 50px 0;
    }
    
    .right{
        padding: 50px 0;
    }
}