.backNot{
  background-color: #FEFAE0;
  color: #283618;
  font-size: 30px;
  min-height: 100vh;
}
.text-decorator-none{
  text-decoration: none !important;
}
.alignItems-center{
  align-items: center !important;
}